<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
  <link rel="stylesheet" href="assets/css/atogaki.css">
</head>

<body>
  <section class="firstpage">
    <h2>IM@Study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2019/12号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@Study有志</p>
        </div>
        <div class="information">
          <p class="title">表紙イラスト・デザイン</p>
          <p>文月きょう</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@Study</p>
        </div>
    </div>
  </section>
  <section class="TOC">
    <ul>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>UE4でアイマス楽曲をさらに盛り上げてけ☆</h2>
            <p class="author">croMisa</p><span class='page'>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/yutagoto.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>コラム: アイマスもくもく会のすゝめ</h2>
            <p class="author">.ごっち</p><span class='page'>11</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>コンベンションセンターをサーバレスで実現する</h2>
            <p class="author">MH35</p><span class='page'>11</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/yuki-hevx86.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>FPGAでモテモテなハッピーライフをエンジョイしようよ！</h2>
            <p class="author">へヴろく</p><span class='page'>17</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/foooomio.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>コラム: 『☆ピコピコプラネット☆』誕生！</h2>
            <p class="author">ふみを</p><span class='page'>11</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/subroh0508.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>小鳥さんと一緒に100%Kotlinのサイト製作<br><span class="subtitle">〜Frontend編〜</span></h2>
            <p class="author">にしこりさぶろ〜</p><span class='page'>25</span>
          </div>
        </div>
      </li>
    </ul>  
  </section>

  <section class="booknote">
    <header>IM@Study (a.k.a IM@S Hack) について</header>
    <div>
      <p><i>アイドルを愛でる、アイマスにContributeする</i></p>
      <p>アイマスの二次創作界隈において、歌姫庭園とかミリフェスとかミリオンリーとかニコ動とかTwitterとかいろいろあるけれど、エンジニアを主な対象とした時にこれという機会がありません。</p>
      <p>私たちはみんなアイドルをプロデュースしています。 そして、コードの力によって技術の面からContributeすることができます。 この二つの側面を組み合わせて面白いこと、してみませんか。</p>
      <p>
        ハッシュタグ：#imas_hack <br/>
        グループWebサイト：https://imas.connpass.com/
      </p>
    </div>
  </section>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="atogaki">
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">croMisa</span>
          <span class="role label">Chap1執筆</span>
          <span class="tantou label">如月千早</span>
        </p>
        <p class="comment">
          夜想令嬢のミュージカル公演最高だった...顧客が本当に求めていたものだった...
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">MH35</span>
          <span class="role label">Chap2執筆</span>
          <span class="tantou label">矢吹可奈/森久保乃々/櫻木真乃</span>
        </p>
        <p class="comment">
          今回も執筆させていただきました。ネタがつらいです。
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/yuki-hevx86.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">ヘヴろく</span>
          <span class="role label">Chap3執筆</span>
          <span class="tantou label">伊吹翼/神崎蘭子</span>
        </p>
        <p class="comment">
          今後はつばってぃーとのふれあいをHDLに落とし込みたいと思います。
        </p>
      </div>
    </div>    
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/subroh0508.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">にしこりさぶろ〜</span>
          <span class="role label">Chap4執筆</span>
          <span class="tantou label">速水奏/三峰結華/真壁瑞希</span>
        </p>
        <p class="comment">
          Kotlin Festに小鳥さんを連れて行く実績は解除したので、次はKontributorになって
          「小鳥さんを構成する数十バイトはぼくが書いた！！！」って叫び散らすのが目標です(?)
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/yutagoto.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">.ごっち</span>
          <span class="role label">コラム執筆</span>
          <span class="tantou label">安部菜々/塩見周子/高槻やよい</span>
        </p>
        <p class="comment">
          ζ*'ヮ')ζ＜うっうー
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/@.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">あんきも</span>
          <span class="role label">コラム執筆</span>
          <span class="tantou label">双葉杏</span>
        </p>
        <p class="comment">
          ナゴドからDJ杏ちゃんが生えてきて泣きました
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/foooomio.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">ふみを</span>
          <span class="role label">コラム執筆</span>
          <span class="tantou label">七尾百合子/矢吹可奈/島村卯月</span>
        </p>
        <p class="comment">
          『☆ピコピコプラネット☆』使ってね〜〜（CV:ころあず）
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/uskes.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">Uske_S</span>
          <span class="role label">表紙デザイン／コラムレイアウトほか</span>
          <span class="tantou label">北沢志保／最上静香</span>
        </p>
        <p class="comment">
          表紙デザインはvol.3に引き続き2回目です。楽しんでもらえたでしょうか。次は記事執筆にも参加したいです。
        </p>
      </div>
    </div>
  </section>
  <section class="okuduke">
    <header>
      <h1>週刊 IM@Study 2019/12号</h1>
      <p>- IM@Study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2019年 12月14日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@Study有志</td>
        </tr>
        <tr>
          <th>表紙イラスト・デザイン</th>
          <td>文月きょう</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@Study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>
