html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.elements {
  height: 100%;
  width: 100%;
  display: table;
}

.element {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}