<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
  <link rel="stylesheet" href="assets/css/atogaki.css">
</head>

<body>
  <section class="firstpage">
    <h2>IM@Study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2019/04号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@Study有志</p>
        </div>
        <div class="information">
          <p class="title">表紙イラスト・デザイン</p>
          <p>○○○○○</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@Study</p>
        </div>
    </div>
  </section>
  <section class="TOC">
    <ul>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>アイマスを「証明」してみた話</h2>
            <p class="author">きりだるま</p><span class='page'>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/yutagoto.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>CircleCIでアイドル情報を出力させて生産性を上げる話</h2>
            <p class="author">.ごっち</p><span class='page'>8</span>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="atogaki">
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">きりだるま</span>
          <span class="role label">Chap1執筆</span>
          <span class="tantou label">北上麗花, 我那覇響, 多田李衣菜</span>
        </p>
        <p class="comment">
          ○○○○○○○○
          ○○○○○○○○
        </p>
      </div>
    </div>
  </section>
  <section class="okuduke">
    <header>
      <h1>週刊 IM@Study 2019/04号</h1>
      <p>- IM@Study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2019年 4月14日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@Study有志</td>
        </tr>
        <tr>
          <th>表紙イラスト・デザイン</th>
          <td>○○○○○</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@Study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>
