<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
  <link rel="stylesheet" href="assets/css/atogaki.css">
</head>

<body>
  <section class="firstpage">
    <h2>IM@Study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2019/04号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@Study有志</p>
        </div>
        <div class="information">
          <p class="title">表紙イラスト・デザイン</p>
          <p>文月きょう</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@Study</p>
        </div>
    </div>
  </section>
  <section class="TOC">
    <ul>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>アイマスを「証明」してみる話</h2>
            <p class="author">きりだるま</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/papix.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>｢アイドルマスター シンデレラガールズ｣の<br/>データに対するスリーレターコードを利用した<br/>ユニークなインデックスの提案</h2>
            <p class="author">遠山賢寿</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/wakuwakup.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>増え続けるアイマス楽曲をNASで一括管理</h2>
            <p class="author">Wakuwaku</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takemikami.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>何つながりなのかな？を探る自然言語処理<span class="subtitle"><br />～765PRO LIVE THEATERに通りがかる小日向美穂～</span></h2>
            <p class="author">みかみん</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>Heroku+Railsで<br/>コンベンションセンターもどきを作ってみた</h2>
            <p class="author">MH35</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/yutagoto.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>CircleCIでアイドル情報を出力させて<br/>生産性を上げる話</h2>
            <p class="author">.ごっち</p><span class='page'>3</span>
          </div>
        </div>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>im@sparql応用 〜UE4編〜</h2>
            <p class="author">croMisa</p><span class='page'>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/kagemiku.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>うづコインを支える技術</h2>
            <p class="author">kagemiku</p><span class='page'>9</span>
          </div>
        </div>
      </li>
    </ul>

  </section>

  <section class="booknote">
    <header>IM@Study (a.k.a IM@S Hack) について</header>
    <div>
      <p><i>アイドルを愛でる、アイマスにContributeする</i></p>
      <p>アイマスの二次創作界隈において、歌姫庭園とかミリフェスとかミリオンリーとかニコ動とかTwitterとかいろいろあるけれど、エンジニアを主な対象とした時にこれという機会がありません。</p>
      <p>私たちはみんなアイドルをプロデュースしています。 そして、コードの力によって技術の面からContributeすることができます。 この二つの側面を組み合わせて面白いこと、してみませんか。</p>
      <p>
        ハッシュタグ：#imas_hack <br/>
        グループWebサイト：https://imas.connpass.com/
      </p>
    </div>
  </section>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="atogaki">
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">きりだるま</span>
          <span class="role label">Chap1執筆</span>
          <span class="tantou label">北上麗花, 我那覇響, 多田李衣菜、風野灯織</span>
        </p>
        <p class="comment">
          前回に引き続き今回も参加出来て良かったです。
          このあとがき書いてる今日はシャニ1stです。
          めっちゃ楽しみ...楽しんできます。
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/papix.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">遠山賢寿</span>
          <span class="role label">Chap2執筆</span>
          <span class="tantou label">三船美優, Triad Primus</span>
        </p>
        <p class="comment">
          ｢夢幻ノ救憐唱 ～堕チル星ノ調ベ～｣が顧客が本当に求めていたもの...!!! という感じで最高でした.
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/wakuwakup.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">Wakuwaku</span>
          <span class="role label">Chap3執筆</span>
          <span class="tantou label">萩原雪歩, 横山奈緒, 緒方智絵里</span>
        </p>
        <p class="comment">
          初めて書きましたー! コレは技術なのか?なChapterですが温かい目で見守ってください。
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/kagemiku.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">kagemiku</span>
          <span class="role label">Chap4執筆</span>
          <span class="tantou label">島村卯月</span>
        </p>
        <p class="comment">
          あ〜うづきすこ
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/takemikami.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">みかみん</span>
          <span class="role label">Chap5執筆</span>
          <span class="tantou label">箱崎星梨花, 小日向美穂, 萩原雪歩</span>
        </p>
        <p class="comment">
          来週の週刊IM@Studyもお楽しみに〜〜〜！
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">MH35</span>
          <span class="role label">Chap6執筆</span>
          <span class="tantou label">矢吹可奈, 森久保乃々, 櫻木真乃</span>
        </p>
        <p class="comment">
          今回も執筆させていただきました。ネタがつらいです。
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/yutagoto.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">.ごっち</span>
          <span class="role label">Chap7執筆</span>
          <span class="tantou label">安部菜々, 塩見周子, 高槻やよい</span>
        </p>
        <p class="comment">
          ζ*'ヮ')ζ＜うっうー
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">croMisa</span>
          <span class="role label">Chap8執筆</span>
          <span class="tantou label">如月千早</span>
        </p>
        <p class="comment">
          4/21には、アイマスハッカソン2019in名古屋やるぞー！！im@sparqlをどんどん使っていってくれ！！
        </p>
      </div>
    </div>
  </section>
  <section class="okuduke">
    <header>
      <h1>週刊 IM@Study 2019/04号</h1>
      <p>- IM@Study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2019年 4月14日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@Study有志</td>
        </tr>
        <tr>
          <th>表紙イラスト・デザイン</th>
          <td>文月きょう</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@Study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>
