<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
</head>

<body>
  <div class="firstpage">
    <h2>IM@study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2018/12号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@study有志</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@study</p>
        </div>
    </div>
  </div>
  <div class="TOC">
    <ul>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>アイマス楽曲を歌詞解析してみた話<br><span class="right">～輝きの向こう側に見えたもの～</span></h2>
            <p class="author">@kiridaruma</p><span class='page'>3</span><!-- ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>アイドルと学ぶホームページの作り方</h2>
            <p class="author">@mh35</p><span class='page'>3</span><!-- ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>李衣菜チャンの<br><span class="right">ヘッドホンアンプをつくるにゃ！</span></h2>
            <p class="author">@yuki-hevx86</p><span class='page'>3</span><!-- ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>im@sparql入門</h2>
            <p class="author">@croMisa</p><span class='page'>3</span><!-- ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>スコアを用いた<br><span class="right">ライブの予習セットリスト自動生成の試み</span></h2>
            <p class="author">@papix</p><span class='page'>3</span>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="okuduke">
    <header>
      <h1>週刊 iM@Study 2018/12号</h1>
      <p>- IM@study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2018年12月30日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@study有志</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>