<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
  <link rel="stylesheet" href="assets/css/atogaki.css">
</head>

<body>
  <section class="firstpage">
    <h2>IM@study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2018/12号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@study有志</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@study</p>
        </div>
    </div>
  </section>
  <section class="TOC">
    <ul>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/><!--TODO:変更-->
          </figure>
          <div class="text">
            <h2>アイマス楽曲を歌詞解析してみた話<br><span class="right">～輝きの向こう側に見えたもの～</span></h2>
            <p class="author">@kiridaruma</p><span class='page'>3</span><!-- TODO:ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/><!--TODO:変更-->
          </figure>
          <div class="text">
            <h2>アイドルと学ぶホームページの作り方</h2>
            <p class="author">@mh35</p><span class='page'>3</span><!-- TODO:ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/><!--TODO:変更-->
          </figure>
          <div class="text">
            <h2>李衣菜チャンの<br><span class="right">ヘッドホンアンプをつくるにゃ！</span></h2>
            <p class="author">@yuki-hevx86</p><span class='page'>3</span><!-- TODO:ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/><!--TODO:変更-->
          </figure>
          <div class="text">
            <h2>im@sparql入門</h2>
            <p class="author">@croMisa</p><span class='page'>3</span><!-- TODO:ページ修正 -->
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/><!--TODO:変更-->
          </figure>
          <div class="text">
            <h2>スコアを用いた<br><span class="right">ライブの予習セットリスト自動生成の試み</span></h2>
            <p class="author">@papix</p><span class='page'>3</span><!-- TODO:ページ修正 -->
          </div>
        </div>
      </li>

    </ul>
  </section>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="atogaki">
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">きりだるま</span>
          <span class="role label">Chap1執筆</span>
          <span class="tantou label">北上麗花, 我那覇響, 多田李衣菜</span>
        </p>
        <p class="comment">
          旗振り役といいつつ他人に仕事を投げただけという残念な感じですいませんでした...。
          また機会があれば参加したいです！ありがとうございました！
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">MH35</span>
          <span class="role label">Chap2執筆</span>
          <span class="tantou label">矢吹可奈, 森久保乃々, 櫻木真乃</span>
        </p>
        <p class="comment">
          非常にスケジュールがかつかつでしたがどうにか書き上げることができました．
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/yuki-hevx86.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">へヴろく</span>
          <span class="role label">Chap3執筆</span>
          <span class="tantou label">神崎蘭子, 多田李衣菜, 前川みく</span>
        </p>
        <p class="comment">
          この本をきっかけに電子工作に興味を持ってもらえればと思い執筆しました。闇に飲まれよ！！
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/papix.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">遠山 賢寿</span>
          <span class="role label">Chap4執筆</span>
          <span class="tantou label">三船美優, Triad Primus</span>
        </p>
        <p class="comment">
          6th名古屋のTrinity Field最高でしたね. 完全に燃え尽きてしまいました...
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">@takanakahiko</span>
          <span class="role label">Chap5執筆</span>
          <span class="tantou label">馬場このみ</span><!--TODO:変更-->
        </p>
        <p class="comment"><!--TODO:変更-->
          デザインを考えたり，CSS組版をしたりしてお手伝いさせていただきました！
          CSS組版の良さや課題が見えてきたので，とても有意義な時間でした．
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/takanakahiko.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">@takanakahiko</span>
          <span class="role label">組版</span>
          <span class="tantou label">馬場このみ</span>
        </p>
        <p class="comment">
          デザインを考えたり，CSS組版をしたりしてお手伝いさせていただきました！
          CSS組版の良さや課題が見えてきたので，とても有意義な時間でした．
        </p>
      </div>
    </div>
  </section>
  <section class="okuduke">
    <header>
      <h1>週刊 IM@Study 2018/12号</h1>
      <p>- IM@study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2018年12月30日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@study有志</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>