<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/font.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/head.css">
  <link rel="stylesheet" href="assets/css/toc.css">
  <link rel="stylesheet" href="assets/css/okuduke.css">
  <link rel="stylesheet" href="assets/css/atogaki.css">
</head>

<body>
  <section class="firstpage">
    <h2>IM@Study 合同誌</h2>
    <h1>週刊</h1>
    <h1>IM@Study <small>2019/08号</small></h1>
    <div class="information_cont">
        <div class="information">
          <p class="title">著</p>
          <p>IM@Study有志</p>
        </div>
        <div class="information">
          <p class="title">表紙イラスト・デザイン</p>
          <p>文月きょう</p>
        </div>
        <div class="information">
          <p class="title">発行</p>
          <p>IM@Study</p>
        </div>
    </div>
  </section>
  <section class="TOC">
    <ul>
      <li>
          <div class="index_item">
            <figure class="image">
              <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
            </figure>
            <div class="text">
              <h2>im@sparql応用 ～HTMLでさっと表示編～</h2>
              <p class="author">croMisa</p><span class='page'>3</span>
            </div>
          </div>
        </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/papix.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>スコアを用いたライブの予習セットリスト自動生成の試み<br><span class="subtitle">〜THE IDOLM@STER CINDERELLA GIRLS 7thLIVE編〜</span></h2>
            <p class="author">遠山賢寿</p><span class='page'>11</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
          </figure>
          <div class="text">
            <h2>pLaTeXを用いた小説系同人誌作成入門</h2>
            <p class="author">MH35</p><span class='page'>17</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/subroh0508.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>小鳥さんと一緒に100%Kotlinのサイト製作<br><span class="subtitle">〜Backend編〜</span></h2>
            <p class="author">にしこりさぶろ〜</p><span class='page'>25</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>青羽美咲が業務効率化を目指してAlexaスキルを作る話</h2>
            <p class="author">きりだるま</p><span class='page'>39</span>
          </div>
        </div>
      </li>
      <li>
        <div class="index_item">
          <figure class="image">
            <img alt='icon' src='assets/img/wakuwakup.jpg' class='avatar'/>
          </figure>
          <div class="text">
            <h2>プレイリスト自動生成でアイマスをより楽しむ</h2>
            <p class="author">Wakuwaku</p><span class='page'>53</span>
          </div>
        </div>
      </li>
    </ul>

  </section>

  <section class="booknote">
    <header>IM@Study (a.k.a IM@S Hack) について</header>
    <div>
      <p><i>アイドルを愛でる、アイマスにContributeする</i></p>
      <p>アイマスの二次創作界隈において、歌姫庭園とかミリフェスとかミリオンリーとかニコ動とかTwitterとかいろいろあるけれど、エンジニアを主な対象とした時にこれという機会がありません。</p>
      <p>私たちはみんなアイドルをプロデュースしています。 そして、コードの力によって技術の面からContributeすることができます。 この二つの側面を組み合わせて面白いこと、してみませんか。</p>
      <p>
        ハッシュタグ：#imas_hack <br/>
        グループWebサイト：https://imas.connpass.com/
      </p>
    </div>
  </section>
  <!-- build:section recursive views -->
  <!-- /build -->
  <section class="atogaki">
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/crssnky.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">croMisa</span>
          <span class="role label">Chap1執筆</span>
          <span class="tantou label">如月千早</span>
        </p>
        <p class="comment">
          夜想令嬢のミュージカル公演最高だった...顧客が本当に求めていたものだった...
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/papix.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">遠山賢寿</span>
          <span class="role label">Chap2執筆</span>
          <span class="tantou label">三船美優/Triad Primus</span>
        </p>
        <p class="comment">
          最近は｢Max Beat｣の高垣楓ソロリミックスが尊くて延々と聞いています. 今回は某カンファレンスの登壇準備と重なってどうなることかと思ったけど, なんとか書けて良かった...
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/mh35.png' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">MH35</span>
          <span class="role label">Chap3執筆</span>
          <span class="tantou label">矢吹可奈/森久保乃々/櫻木真乃</span>
        </p>
        <p class="comment">
          今回も執筆させていただきました。ネタがつらいです。
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/subroh0508.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">にしこりさぶろ〜</span>
          <span class="role label">Chap4執筆</span>
          <span class="tantou label">速水奏/三峰結華/真壁瑞希</span>
        </p>
        <p class="comment">
          EScapeのアンドロイド3体の生みの親になりたい、Androidエンジニアなので(怪文書)
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/kiridaruma.jpeg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">きりだるま</span>
          <span class="role label">Chap5執筆</span>
          <span class="tantou label">北上麗花/我那覇響/多田李衣菜/風野灯織</span>
        </p>
        <p class="comment">
          ミリオン6thSSAとシンデレラ7thに向けてのやりくりで死にかけてます。
          今回は読み物っぽくしてみましたが、どうだったでしょうか？
          少しでもAmazon Alexaに興味を持っていただけたら嬉しいです！
        </p>
      </div>
    </div>
    <div class="atogaki_item">
      <figure class="image">
        <img alt='icon' src='assets/img/wakuwakup.jpg' class='avatar'/>
      </figure>
      <div class="text">
        <p class="info">
          <span class="name">Wakuwaku</span>
          <span class="role label">Chap6執筆</span>
          <span class="tantou label">萩原雪歩/横山奈緒/緒方智絵里</span>
        </p>
        <p class="comment">
          前回よりは技術っぽくなったと思います!!! NAS活用ネタ尽きてきた感があります(笑)。
        </p>
      </div>
    </div>
  </section>
  <section class="okuduke">
    <header>
      <h1>週刊 IM@Study 2019/08号</h1>
      <p>- IM@Study 合同誌 -</p>
    </header>
    <div>
      <ul class="editions">
        <li>2019年 8月12日初刷発行</li>
      </ul>
      <br>
      <table>
        <tr>
          <th>著者</th>
          <td>IM@Study有志</td>
        </tr>
        <tr>
          <th>表紙イラスト・デザイン</th>
          <td>文月きょう</td>
        </tr>
        <tr>
          <th>印刷・製本</th>
          <td>有限会社 ねこのしっぽ</td>
        </tr>
        <tr>
          <th>発行・販売</th>
          <td>IM@Study</td>
        </tr>
      </table>
    </div>
    <p class="printed_in">Printed in Japan</p>
  </section>
</body>

</html>
