.atogaki{
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 3em 0 0.5em;
}
  
.atogaki:after {
  text-align: center;
  position: absolute;
  content: 'あとがき';
  background: #80c8d1;
  color: #fff;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 5px 7px 3px;
  font-size: 1.6em;
  line-height: 1;
  letter-spacing: 0.05em;
  left: 0;
  right: 0;
  margin: auto;
}

.atogaki_item {
  display: flex;
  margin: 0px 20px;
  padding: 6px 0px;
  border-bottom: solid 2px #80c8d1;
}

.atogaki_item:last-child{
  border-bottom: none;
}

.atogaki_item *{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.atogaki_item .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 32px;
  width: 32px;
}

.atogaki_item .avatar {
  vertical-align: bottom;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.atogaki_item .text {
  flex: 1 1 100%;
  margin-left: 20px;
}

.atogaki_item .name {
  line-height: 1.4;
  color: #505050;
  font-size: 11px;
  font-weight: bold;
}

.atogaki_item .comment {
  color: #505050;
  font-size: 8px;
}

.atogaki_item .info *{
  vertical-align: middle;
}

.atogaki_item .label {
  margin: 10px 0px;
  margin-right: 5px;
  font-size: 8px;
}

.atogaki_item .label:before {
  width: 50px;
  margin: 0px 5px 5px 0;
  padding: 3px 4px;
  border-radius: 20px;
  background: #30b0d8;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.atogaki_item .role:before {
  content: "役割";
}

.atogaki_item .tantou:before {
  content: "担当";
}